.About {
    background-color: rgb(245, 245, 245);
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(0, 0, 65);
}

p {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: rgb(112, 112, 112);
}

span {
    font-size: 32px;
    color: black;
}

h1{
    color: rgba(0, 0, 65, 0.842);
    font-weight: 500;
}