<footer class="Footer">
    <div class="col-10 col-lg-11 pt-5">
        <div class="row me-0 d-flex align-items-center">

            <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="Link-List pb-4">
                    <h6>Our Categories</h6>

                    <div class="List pt-1">
                        <a>Conceptual Arts</a>
                        <a>Digital Arts</a>
                        <a>Drawings</a>
                        <a>Paintings</a>
                        <a>Creative Designs</a>
                        <a>Abstract Pictures</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="Link-List pb-4">
                    <h6>Our Mision</h6>

                    <div class="List pt-1">
                        <a>New Ideas</a>
                        <a>Collect Artists</a>
                        <a>Create Future</a>
                        <a>Sell Arts</a>
                        <a>Connect People</a>
                        <a>Create Arts</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="Link-List pb-4">
                    <h6>About Us</h6>

                    <div class="List pt-1">
                        <a>Payment Methods</a>
                        <a>Collect Arts</a>
                        <a>Our Designs</a>
                        <a>Contact Us</a>
                        <a>Discounts</a>
                        <a>Our Ideas</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="Link-List pb-4">
                    <h6>Join with Us</h6>

                    <div class="List pt-1">
                        <a>Marketing</a>
                        <a>Drawing</a>
                        <a>Selling</a>
                        <a>Designing</a>
                        <a>Planing</a>
                        <a>Management</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="Link-List pb-4">
                    <h6>Connect</h6>

                    <div class="List pt-1">
                        <a>FAQ</a>
                        <a>Location</a>
                        <a>Prising</a>
                        <a>Soloutions</a>
                        <a>Projects</a>
                        <a>Collections</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
                <div class="Link-List pb-4">
                    <h6>Let's Talk</h6>

                    <div class="List pt-3">
                        <img src="../../../../assets/LOGO/Store.jpg">
                        
                        <!-- <h6>www.artcafe.com</h6>
                        <h6>077 115 42 75</h6> -->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>

        <div class="col-10 pb-3 d-flex justify-content-center bg-white">
            <div class="col-9 col-sm-7 col-md-6 col-lg-5">
                <div class="Social-Icons">
                    <div class="col-3 Icon-Circle">
                        <i class="bi bi-twitter"></i>
                    </div>

                    <div class="col-3 Icon-Circle">
                        <i class="bi bi-linkedin"></i>
                    </div>

                    <div class="col-3 Icon-Circle">
                        <i class="bi bi-instagram"></i>
                    </div>

                    <div class="col-3 Icon-Circle">
                        <i class="bi bi-facebook"></i>
                    </div>

                    <div class="col-3 Icon-Circle">
                        <i class="bi bi-whatsapp"></i>
                    </div>

                    <div class="col-3 Icon-Circle">
                        <i class="bi bi-envelope-at-fill"></i>
                    </div>
                </div>
            </div>
    </div>
</footer>
