<div class="Introduction">
    <div class="Image-Box">
        <div class="Align-Box col-11 col-md-10">
            <div class="Intro-Text">
                <div class="My-Details">
                    <p class="text-center text-md-start mb-4" id="Welcome">HI THERE. . . !</p>
    
                    <div class="Name">
                        <h2 class="text-center text-md-start">THIS ONLINE <span>ART GALLERY</span> IS A VIRTUAL PLATFORM THAT ENABLES THE DISCOVERY, EXPLORATION, AND PURCHASE OF UNIQUE AND ORIGINAL ARTWORKS FROM VARIOUS ARTISTS.</h2>
                    </div>
                </div>
    
                <div class="Quote py-2">
                    <p class="col-lg-9 text-center text-md-start">" With the ability to sort and filter by artist, medium, and price, it's easy to find the perfect piece to suit your taste and budget. So why not take a look and discover the world of art online today! "</p>
                </div>
            </div>
    
            <div class="Sign-Buttons d-flex justify-content-center justify-content-md-start">
                <button id="Login-Btn" routerLink="/sign-in">SIGN IN</button>
                <button id="Register-Btn" routerLink="/sign-up">SIGN UP</button>
            </div>
        </div>
    </div>    
</div>
