<div class="History pt-5 py-4">
    <div class="col-10 col-lg-11">
        <div class="row">
            <div class="col-12 col-lg-5">
                <img src="assets/HomePage/Others/pngegg.png">
            </div>

            <div class="col-12 col-lg-7 pt-5 pt-lg-0">
                <h2>SEE OUR <span>HISTRORY</span></h2>
                <p>As the internet evolved, so too did the online art market. In the late 1990s and early 2000s, more and more art galleries began to establish a presence online, both as a way to reach new audiences and to sell art to a global market. These early online art galleries were often basic in nature, with limited functionality and poor image quality. As technology advanced, online art galleries began to offer more features and services, such as high-resolution images, detailed information about the artworks, and the ability to purchase art directly from the website.</p>
            </div>
        </div>
    </div>
</div>
